:root {
  font-family: 'Inter', system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 2rem;
  display: flex;
  max-width: 320px;
  min-height: 100vh;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: left;
  margin-top: 3rem;
}



.fuel {
  display: flex;
  gap: 5rem;
}

.new-inputs{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  
  
 
}
